<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
            <header>
                <p class="post-tag">
                    <span>
                        {% for cat in page.categories %}
                        <a  href="{{ HOME_PATH }}#{{ cat }}">
                            <span class="octicon octicon-list-unordered">&nbsp;{{ cat }}</span>
                        </a>
                        {% endfor %}
                    </span>
                </p>
                <h2>{{ page.title }}</h2>
            </header>
            <hr class="boundary">
            <div class="content-navigation-list toc"></div>
            <span><a href="{{page.url}}">请尊重原创版权，转载注明出处。</a></span>
            <article>
			    {{content}}
            </article>
            <hr class="boundary">
            <p class="post-tag">
                <span class="octicon octicon-list-unordered">&nbsp;更多阅读</span>
            </p>
            {% include JB/related_posts %}
        </div>
        <div class="pad-min"></div>
        <div id="post-comment" class="sheet post">
            {% include JB/comments %}
        </div>
    </div>

    <div class="content-navigation col-lg-3">
        <div class="shadow-bottom-center">
            <div class="content-navigation-tag">
                <div class="content-navigation-list">
                    <ul>
                        <li>
                            <p class="post-meta">
                                <span class="octicon octicon-clock"></span>
                                {{ page.date | date: "%Y-%m-%d" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                            </p>
                        </li>
                        <li>
                            <a class="post-meta" href="mailto:{{ site.author.email }}" title="{{ site.author.email }}" target="_blank">
                                <span class="octicon octicon-mail"></span>
                            </a>

                            <a class="post-meta" href="https://github.com/{{ site.author.github }}" title="https://github.com/{{ site.author.github }}" target="_blank">
                                <span class="octicon octicon-mark-github"></span>
                            </a>

                            <a class="post-meta" href="/rss.xml"  title="订阅" target="_blank">
                                <span class="octicon octicon-rss"></span>
                            </a>
                        </li>

                        <div id="post-share" class="bdsharebuttonbox">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                            <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                        </div>
                    </ul>
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="content-navigation-tag">
                <div class="content-navigation-header">
                    <span class="octicon octicon-list-unordered"></span>&nbsp;文章标签
                </div>
                <div class="content-navigation-list">
                    <ul>
                        {% for tag in page.tags %}
                        <li>
                            <a href="{{ '/tags/' }}#{{ tag }}">
                                <span  class="octicon octicon-tag"></span>&nbsp;{{ tag }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="content-navigation-related">
                <div class="content-navigation-header">
                    <span class="octicon octicon-list-unordered"></span>&nbsp;相关文章
                </div>
                {% include JB/related_posts %}
            </div>
            <div class="content-navigation-related">
                <div class="content-navigation-header">
                    <span class="octicon octicon-list-unordered"></span>&nbsp;最近更新
                </div>
                <div class="content-navigation-list">
                    <ul>
                        {% for p in site.posts limit: 5 %}
                        <li>{{ p.date | date: "%Y-%m-%d" }}&nbsp;<a href="{{ p.url }}" title="{{p.title }}">{{p.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
