<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="{{ site.author.name }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="{{ page.title }}, {% for category in page.categories %}{{ category }},{% endfor %} {% for tag in page.tags %}{{ tag }},{% endfor %} {{ site.title }}"/>
    <meta name="description"
          content="{{ page.title }}, {% for category in page.categories %}{{ category }},{% endfor %} {% for tag in page.tags %}{{ tag }},{% endfor %} {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="theme-color" content="#2CA6CB"/>
    <link rel="shortcut icon" type="image/x-icon" media="screen" href="/favicon.ico"/>
    <link rel="canonical"
          href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml"/>

    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/octicons/octicons.css"/>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/highlight.css"/>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/post.css"/>
    <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/category.css"/>

    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/script.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/post.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/toc.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/category.js"></script>

    {% include JB/analytics %}
</head>

<body>
<div class="main">
    {% if page.url == "/index.html" %}
    <a href="{{ site.baseurl | prepend: site.url }}">
        <div class="banner">
            <h1>duanqz <img src="/favicon.ico" /></h1>
        </div>
    </a>
    {% endif %}
    {% if page.isNavItem %}
    <a href="{{ site.baseurl | prepend: site.url }}">
        <div class="banner">
            <h1>duanqz <img src="/favicon.ico"/>
            </h1>

            <h3>{{page.title}}</h3>
        </div>
    </a>
    {% endif %}
    <header>
        <nav class="navbar navbar-tiffany rectangle" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url }}/">{{ site.title }}</a>

                    <p class="navbar-text">{{ site.description }}</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Categories -->
                        <li>
                            <a href="{{ site.url }}" class="categories-item" cate="All">
                                <span class="octicon octicon-home"></span>
                                All&nbsp;<span class="categories-badge">{{site.posts | size}}</span>
                            </a>
                        </li>
                        {% for category in site.categories %}
                        <li>
                            <a href="javascript:void(0);" class="categories-item" cate="{{ category | first }}">
                                <span class="octicon octicon-book"></span>
                                {{ category | first }}<span class="categories-badge">{{ category | last | size }}</span>
                            </a>
                        </li>
                        {% endfor %}

                        {% for p in site.pages %}{% if p.isNavItem %}
                        {% if p.url == page.url %}
                        <li class="active">
                        {% else %}
                        <li>
                        {% endif %}
                            <a href="{{ p.url | prepend: site.baseurl | prepend: site.url }}" class="word-keep">
                                <span class="octicon {{ p.icon }}"></span>
                                {{p.title }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <a href="#stq=" class="search-button">
                                <span class="octicon octicon-search"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {{ content }}
    </div>

    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

<footer class="footnote footnote-tiffany">
    <div class="container">
        <a class="foot-item" href="mailto:{{ site.author.email }}" target="_blank">
            <span class="octicon octicon-mail"></span>
        </a>
        <a class="foot-item" href="https://github.com/{{ site.author.github }}" target="_blank">
            <span class="octicon octicon-mark-github"></span>
        </a>
        <a class="foot-item" href="/feed.xml"  target="_blank">
            <span class="octicon octicon-rss"></span>
        </a>
        <a class="foot-item" href="/link/">
            <span class="octicon octicon-link-external"></span>
        </a>
        <a href="http://duanqz.github.io/">
            <span class="word-keep">&nbsp;&copy; duanqz</span>
        </a>
    </div>
</footer>

</body>
</html>
